<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
               "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="starryNight.dao.MemberDao">

	<select id="memberList" resultType="member" parameterType="member">
		select member_no, email, name, birthDate, contact, address 
		 from member 
		 WHERE 1=1
		 <if test="name!=null">
		 AND name LIKE '%'||#{name}||'%'
		 </if>
		 order by member_no asc
	</select>
	
	<insert id="insertMember" parameterType="member">
		insert into member values(seq_member.nextval, 
								#{email}, 
								#{pswd}, 
								#{name}, 
								to_date(#{birthDate_s}, 'YYYY-MM-DD'), 
								#{contact}, 
								#{address}, 
								'U')
	</insert>
	
	<delete id="deleteMember" parameterType="string">
		delete
		from member
		where email = #{email}
	</delete>
	
</mapper>